<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employees</title>
    <link rel="stylesheet" href="/public/css/view.css">
</head>
<body>
    <div class="table-container">
        <h1>Employee Details</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Joining Date</th>
                    <th>Date of Birth</th>
                    <th>Salary</th>
                    <th>Address</th>
                    <th>Branch</th>
                </tr>
            </thead>
            <tbody id="employee-table-body">
                <!-- Table rows will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
   {{!-- <p id="hero"></p> --}}
    <script src="/public/js/view.js">
        // Example data
       
    </script>
</body>
</html>
